.backgroundimg{
  background: url(./background.jpg) no-repeat center center fixed;
  height:35vh;
  width:auto;
}
.check{
  margin:25%;
}
.line{
  padding-left:20%;
  padding-right:20%;
}
.prod{
  width:42vw;
}
@media only screen
   and (max-width : 490px) {
.prod{
  display:flex;
  flex-wrap: wrap;
  width:90%;
  margin-left:5vw;
}
.check{
  margin:5%;
  margin-left:20%;
}
}

@media only screen
   and (max-width :780px) {
.prod{
  width:70%;
  margin-left:15vw;
}
.check{
  margin:10%;
  margin-left:25%;
}
}
/* check 1024 */

@media only screen
   and (max-width :1024px) {
.prod{
  width:65%;
  margin-left:18vw;
}
.check{
  margin:5%;
  margin-left:25%;
}
}
