h2{
    text-align: center;
    padding: 25px ;
    margin-bottom: 0;
    color: #fa741b;
}
h5{
    color: #fa741b;
}
.cardX{
    width: 70%;
    min-height: 300px;
    margin:auto;
    border-radius: 20px;
    background-color: #15102e;
    border: solid 2px #fa741b;
    overflow: hidden;
}

.card-title{
    margin-left: 1rem;
}

.card-text{
    color: white;
    margin: 1rem;
}

.row{
    margin-right: 0;
    margin-left: 0;
}

@media only screen and (max-width:300px){
    .card p{
        display: none;
    }
    .card{
        padding: 70px 0;
    }
}