.margin{
    margin: 5% 0;
}
.parallax{
    background:rgba(0, 0, 0, 0.4) url('/src/Container/Images/2.jpeg') no-repeat fixed center/cover;
    background-blend-mode: darken ;
}

.parallax-inner{
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 20%;
    padding-right: 20%;
    text-align: center;
    color: #ffffff;
    font-size: 1.2rem;
}